/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --box-shadow : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

    font-size: 1rem;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --box-shadow : rgba(255, 255, 255, 0.1) 0px 1px 2px 0px;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 25px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.main-container{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
    padding: 12px 30px;
    color: var(--text-color);
}

.sidebar.close ~ .main-container{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
    background-color: var(--primary-color-light);
}

.main-container > div{
    width: 100%;
    padding: 40px;
    margin: 20px 0;
    background-color: var(--sidebar-color);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.home .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.wrapper .description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.description .heading{
    width: 400px;
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 700;
}

.description p{
    font-weight: 500;
}

.description .web-developer{
    opacity: .7;
}

.description .about{
    line-height: 1.7;
}

.wrapper .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper .buttons button{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--sidebar-color);
    box-shadow: 0px 8px 24px var(--toggle-color, .1);
}

body.dark .wrapper .buttons button{
    box-shadow: var(--box-shadow);
}

.wrapper .buttons button a{
    text-decoration: none;
}

.wrapper .buttons button i, .wrapper .buttons button a{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}   

.wrapper .buttons button i:hover, .wrapper .buttons button a:hover{
    font-weight: 600;
}

.buttons button i{
    margin: 0 5px;
}

.home .imgCl img{
    width: 400px;
    border-radius: 50%;
    transition: var(--tran-04);
    cursor: pointer;
}
/* 
.home .imgCl img:hover{
    backdrop-filter: grayscale(100%);
    -webkit-backdrop-filter: grayscale(100%);
} */

.skills{
    flex-direction: column;
    gap: 20px;
}

.skills .skill-sets{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-sets li{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    padding: 6px 8px;
    border-radius: 8px;
}

.skill-sets li i, .skill-sets li a{
    font-size: 20px;
    font-weight: 500;
}

.projects{
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.projects .projects-sets{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects-list a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
}

.projects-list{
    box-shadow: var(--box-shadow);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

body.dark .projects-list{
    box-shadow: var(--box-shadow);
}

.projects-list .project-card{
    width: 330px;
    display: flex;
    flex-direction: column;
}

.project-card .project-img img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.project-info{
    padding: 7px 10px;
}

/* Certificates */

.certificates{
    flex-direction: column;
}

.certificates .certificates-header h2{
    font-size: 1.5rem;
}

.pdf-container{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 0 4px 0;
}

.certificates .pdf-container .pdfs{
    width: 300px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

body.dark .certificates .pdf-container .pdfs{
    box-shadow: var(--box-shadow)
}

.pdfs img{
    width: 100%;
    object-fit: contain;
}

.pdfs .pdf-description{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 4px 10px;
}

.pdf-description p, .pdf-description span{
    font-size: 13px;
    font-weight: 500;
}

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.contact .contact-heading h2{
    font-size: 1.5rem;
}

.contact .contact-sub-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.contact-sub-container .contact-option{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-sub-container .contact-option .cont a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    padding: 10px 13px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}

.contact-form{
    box-shadow: var(--box-shadow);
}

.contact-form form{
    background-color: var(--primary-color-light);
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

form .input-box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--sidebar-color);
    color: var(--text-color);
    border-radius: 4px;
}

.input-box i{
    color: var(--text-color);
    padding: 12px 12px;
    background-color: var(--sidebar-color)  ;
}

.input-box input, .input-box textarea{
    width: 100%;
    padding: 10px 5px;
    background-color: var(--sidebar-color);
    border: none;
    color: var(--text-color);
    border-radius: 5;
}

.input-box textarea{
    min-height: 200px;
    padding: 10px 17px ;
}

.input-box input::placeholder, .input-box textarea::placeholder{
    color: var(--text-color);
    opacity: .5;
}

.buttons-btn{
    width: 100%;
}

.buttons-btn .btn{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--toggle-color);
    cursor: pointer;
    border-radius: 4px;
}


@media screen and (max-width: 768px) {
    .home{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .home .description .heading{
        font-size: 2rem;
    }

    .home .imgCl img{
        width: 200px;
    }

    .contact-form form{
        min-width: 300px;
    }

}

@media screen and (max-width: 900px) {
    .home{
        align-items: center;
        justify-content: center;
    }

    .home .description .heading{
        font-size: 2rem;
    }

    .home .imgCl img{
        width: 200px;
    }

    .contact-form form{
        min-width: 400px;
    }
}
@media screen and (max-width: 1200px) {
    .home{
        flex-direction: column-reverse;
    }

    .projects-list .project-card{
        width: 150px;
    }
}